<html>
<head>
<title>Page Title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<div>
<div class="left"></div>
<div class="center">
<h1>Here you can download the resized image.</h1>
<p>There are 3 sizes you can choose from, all with specified width and proportional height:</p>
<p>Small:  <b>100 px</b></p>
<p>Medium: <b>200 px</b></p>
<p>Large:  <b>400 px</b></p>
<form action="/download/small" method="get">  
    <input type="submit" value="Small">  
</form>

<form action="/download/medium" method="get">  
    <input type="submit" value="Medium">  
</form>

    <form action="/download/large" method="get">  
        <input type="submit" value="Large">  
    </form>
</div> 
<div class="right"></div>
</div>
    

 
</body>
</html>
