<!DOCTYPE html>
<html>
<head>
<title>JScale</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<div class="row">
<div class="column left"></div>
<div class="column center">
<h1>Welcome to JScale, the program for scaling images.</h1>
<p>Choose a file you want to change the size of.</p>
<p>Available formats: .png, .jpg and .jpeg.</p>

<form action="/" method="post" enctype="multipart/form-data">
<input type="file" name="fileupload" accept=".png, .jpg, .jpeg"/> <br/>
<input type="submit" value="Enter"/>
</div>
<div class="column right"></div>
</div>

  
</body>
</html> 